
<section id="static_page_index" class="services bg-prime header">
  <div class="container text-vertical-center">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 style="color:white">Esya 2015 | Info Pages</h2>
        <hr class="small">
        <div class="row">
          <% @static_pages.each do |page| %>
            <div class="col-md-4 col-sm-4 col-xs-6 tile">
              <%= link_to page.to_s ,static_page_path(page) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>