<div class="top_wrapper" style="height: 75%">
  <div class="fixed">
    <div class="large-12 columns dark_black">
      <img id="logo" class="logo1" style="float: left;" src="/img/e151.png"/>
      <img id="logo" style="float: right;" src="/img/e153.png"/>
    </div>
  </div>

  <div class="inner_ide" style="padding-top: 50px;background: white;height: 100%">
    <div id="navigation" class="small-3 columns" style="padding-top: 30px;height: 100%;overflow: auto">
      <ol class="tree">
        <li>
          <label for="folder1"><s class="fi-folder"></s> ESYA</label> <input type="checkbox" checked disabled id="folder1" />
          <ol>
            <li>
              <label for="subfolder1"><s class="fi-folder"></s> Events</label> <input type="checkbox" id="subfolder1" />
              <ol>
                <li>
                  <label for="subsubfolder1"><s class="fi-folder"></s> CSE</label> <input type="checkbox" id="subsubfolder1" />
                  <ol id="CSE_events">
                  </ol>
                </li>
                <li>
                  <label for="subsubfolder2"><s class="fi-folder"></s> ECE</label> <input type="checkbox" id="subsubfolder2" />
                  <ol id="ECE_events">
                  </ol>
                </li>
                <li>
                  <label for="subsubfolder3"><s class="fi-folder"></s> Flagship</label> <input type="checkbox" id="subsubfolder3" />
                  <ol id="Flagship_events">
                  </ol>
                </li>
                <li>
                  <label for="subsubfolder4"><s class="fi-folder"></s> School</label> <input type="checkbox" id="subsubfolder4" />
                  <ol id="School_events">
                  </ol>
                </li>
                <li>
                  <label for="subsubfolder5"><s class="fi-folder"></s> Workshop</label> <input type="checkbox" id="subsubfolder5" />
                  <ol id="Workshop_events">
                  </ol>
                </li>
                <li>
                  <label for="subsubfolder6"><s class="fi-folder"></s> Non tech Events</label> <input type="checkbox" id="subsubfolder6" />
                  <ol id="Non_tech_events">
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>

    <div class="small-9 columns dark_black" style="height: 7%;" id="file_explorer">
      <ul class="tabs dark_black" data-tab>
        <li class="tab-title active light_black text_white" id="tabs_esya"><a href="#" id="first_tab">Esya.html</a><a class="text_blue" href="<%= ide_url %>" onclick="resetPage()">x</a></li>
      </ul>
    </div>

    <div class="small-9 columns" style="height: 93%; margin:0; padding:0;">
      <div style="height: 100%;" id="editorWrapper" class="nano">
        <div class="nano-content">
          <textarea style="height: 100%;  margin:0; padding: 20px; border: solid 3px black;" class="wysiwyg-color-white" id="wysihtml5-editor" spellcheck="false" wrap="off" autofocus placeholder="<h1>Hey!</h1> <p>We're yet to add content to this page</p>">
            <h1>Welcome to Esya 2015!</h1><h3>Click on a page in the left to get started.</h3><img src="/img/e15.png" height="100">
          </textarea>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="small-12 columns" style="height: 25%;margin: 0;padding: 0">
  <div id="commandLine" class="panel" style="margin-bottom: 0px">
  </div>
</div>
