<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <img id="loadinglogo" style="float: left;width:400px" src="/img/e151.png"/>
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
    </div>
  </div>
</div>


<div class="top_wrapper" id="top_part" style="height: 75%">
  <div class="fixed">
    <div class="large-12 columns dark_black" style="text-align: center">
      <img id="logo" class="logo1" style="float: left;" src="/img/e151.png"/>
      <img id="logo" style="float: right;" src="/img/e153.png"/>
      <p class="text_white site_heading">21st and 22nd August, 2015 @ IIIT Delhi</p>
    </div>
  </div>

  <div class="inner_ide" style="padding-top: 50px;background: white;height: 100%">
    <div id="navigation" class="small-3 columns nomarpad" style="height: 100%">
      <div class="small-1 columns nomarpad" id="ext_links">
        <div class="side_link first_link tip-right has-tip" data-tooltip aria-haspopup="true" class="" title="IIIT Delhi Website">
          <a href="http://iiitd.ac.in"><i class="fa fa-building"></i></a>
        </div>
        <div class="side_link mid_link tip-right has-tip" data-tooltip aria-haspopup="true" class="" title="Esya Blog">
          <a href="http://esya.iiitd.edu.in/blog/"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="side_link mid_link tip-right has-tip" data-tooltip aria-haspopup="true" class="" title="Esya@facebook">
          <a href="https://www.facebook.com/EsyaIIITD"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="side_link mid_link tip-right has-tip" data-tooltip aria-haspopup="true" class="" title="Esya@instagram">
          <a href="https://instagram.com/esya_iiitd"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="side_link last_link tip-right has-tip" data-tooltip aria-haspopup="true" class="" title="Esya@twitter">
          <a href="https://twitter.com/EsyaIIITD"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
      <div class="small-11  columns nomarpad" style="overflow: auto;height: 100%">
        <ol class="tree" style="padding: 20px 0px">
          <li>
            <label for="folder1"><s class="fi-folder"></s> ESYA</label> <input type="checkbox" checked disabled id="folder1" />
            <ol>
              <li>
                <label for="subfolder1"><s class="fi-folder"></s> Events</label> <input type="checkbox" id="subfolder1" />
                <ol>
                  <li>
                    <label for="subsubfolder3"><s class="fi-folder"></s> Flagship</label> <input type="checkbox" id="subsubfolder3" />
                    <ol id="Flagship_events">
                    </ol>
                  </li>
                  <li>
                    <label for="subsubfolder7"><s class="fi-folder"></s> Techathlon</label> <input type="checkbox" id="subsubfolder7" />
                    <ol id="Techathlon_events">
                    </ol>
                  </li>
                  <li>
                    <label for="subsubfolder1"><s class="fi-folder"></s> CSE</label> <input type="checkbox" id="subsubfolder1" />
                    <ol id="CSE_events">
                    </ol>
                  </li>
                  <li>
                    <label for="subsubfolder2"><s class="fi-folder"></s> ECE</label> <input type="checkbox" id="subsubfolder2" />
                    <ol id="ECE_events">
                    </ol>
                  </li>
                  <li>
                    <label for="subsubfolder4"><s class="fi-folder"></s> School</label> <input type="checkbox" id="subsubfolder4" />
                    <ol id="School_events">
                    </ol>
                  </li>
                  <li>
                    <label for="subsubfolder5"><s class="fi-folder"></s> Workshop</label> <input type="checkbox" id="subsubfolder5" />
                    <ol id="Workshop_events">
                    </ol>
                  </li>
                  <li>
                    <label for="subsubfolder6"><s class="fi-folder"></s> Non tech Events</label> <input type="checkbox" id="subsubfolder6" />
                    <ol id="Non_tech_events">
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>

    <div class="small-9 columns dark_black" id="file_tabs" style="min-height: 7%;" id="file_explorer">
      <ul class="tabs dark_black" data-tab>
        <li class="tab-title active light_black text_white" id="tabs_esya"><a class="border-left-blue" href="#" id="first_tab">Esya.html</a><a class="text_blue" href="<%= ide_url %>" onclick="resetPage()">x</a></li>
        <% if participant_signed_in? %>
        <li id="login" data-logged-in="1" class="border-left-blue tab-title right light_black text_white" style="width: 150px;margin:0;margin-left: 15px;">
        <a data-dropdown="drop2" aria-controls="drop1" aria-expanded="false" class="light_black text_white"><%= current_participant.name %></a>
        <ul id="drop2" class="light_black text_white f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li><a href="#" id="profile" class="text_white hover_black">Profile</a></li>
          <li><a href="/signout" class="text_white hover_black">Log out</a></li>
        </ul>
        </li>
        <% else %>
        <li id="login" data-logged-in="0" class="border-left-blue tab-title right light_black text_white" style="width: 100px;margin:0;margin-left: 15px;">
        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="light_black text_white">Login</a>
        <ul id="drop1" class="light_black text_white f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li><a href="/signin/google_oauth2" class="text_white hover_black">Google</a></li>
          <li><a href="/signin/facebook" class="text_white hover_black">Facebook</a></li>
        </ul>
        </li>
        <% end %>
        <li class="border-left-blue tab-title right light_black text_white" style="margin:0">
          <a href="#" data-team-id="" data-team-size="" data-registered="" data-team-event="" data-event-id="" data-event-name="" id="register" class="light_black text_white" style="display: none">Register</a>
        </li>
      </ul>
    </div>

    <div class="small-9 columns" id="editor_area" style="height: 93%; margin:0; padding:0;">
      <div style="height: 100%;" id="editorWrapper" class="nano">
        <div class="nano-content">
          <textarea style="height: 100%;  margin:0; padding: 20px; border: solid 3px black;" class="wysiwyg-color-white" id="wysihtml5-editor" spellcheck="false" wrap="off" autofocus placeholder="<h1>Hey!</h1> <p>We're yet to add content to this page</p>">
            <h1>Welcome to Esya 2015!</h1><h3>Click on a page in the left to get started.</h3><img src="/img/e151.png" height="100">
          </textarea>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="small-12 nomarpad columns dark_black" style="height: 3%">
  <ul class="tabs dark_black" data-tab style="height: 100%;font-size: 13px">
    <li class="console_tab nomarpad active dark_black text_white" id="tabs_esya" style="height: 100%;"><a href="#" id="first_tab">Console</a></li>
  </ul>
</div>

<div class="small-12 columns" id="term_part" style="height: 22%;margin: 0;padding: 0">
  <div id="commandLine" class="panel" style="margin-bottom: 0px">
  </div>
</div>

<script type="text/javascript">
  $(window).load(function() {
   $("#loading").fadeOut(200);
 });
</script>