<div>
  <div class="large-12 columns">
    <img id="logo" class="logo1" style="float: left;" src="/img/e15.png"/>
    <img id="logo" style="float: right;" src="/img/e152.png"/>

  </div>
</div>
<div id="navigation" class="small-2 columns" style="padding-top: 30px;">

  <ol class="tree">
    <li>
      <label for="folder1"><s class="fi-folder"></s> ESYA</label> <input type="checkbox" checked disabled id="folder1" />
      <ol>

        <li>
          <label for="subfolder1"><s class="fi-folder"></s> Events</label> <input type="checkbox" id="subfolder1" />
          <ol>
            <li>
              <label for="subsubfolder1"><s class="fi-folder"></s> CSE</label> <input type="checkbox" id="subsubfolder1" />
              <ol id="CSE_events">
              </ol>
            </li>
            <li>

              <label for="subsubfolder2"><s class="fi-folder"></s> ECE</label> <input type="checkbox" id="subsubfolder2" />
              <ol id="ECE_events">
              </ol>
            </li>
            <li>
              <label for="subsubfolder3"><s class="fi-folder"></s> Flagship</label> <input type="checkbox" id="subsubfolder3" />
              <ol id="Flagship_events">
              </ol>
            </li>
            <li>

              <label for="subsubfolder4"><s class="fi-folder"></s> School</label> <input type="checkbox" id="subsubfolder4" />
              <ol id="School_events">
              </ol>
            </li>

            <li>

              <label for="subsubfolder5"><s class="fi-folder"></s> Workshop</label> <input type="checkbox" id="subsubfolder5" />
              <ol id="Workshop_events">
              </ol>
            </li>
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
</div>

<div class="large-10 columns" style="height: 5%; background-color: #202020;" id="file_explorer">
  <ul class="tabs" data-tab>
    <li class="tab-title active" id="tabs_esya"><a href="#">Esya.html</a></li>
  </ul>

</div>
<div class="large-10 columns" style="height: 70%; margin:0; padding:0;">
  <div style="height: 100%;" id="editorWrapper" class="nano">
    <div class="nano-content">
      <textarea style="height: 100%;  margin:0; padding: 20px; border: solid 3px black;" class="wysiwyg-color-white" id="wysihtml5-editor" spellcheck="false" wrap="off" autofocus placeholder="<h1>Hey!</h1> <p>We're yet to add content to this page</p>">
        <img alt="ESYA 2015" style="margin-left: 30%;" src="https://pbs.twimg.com/profile_images/604744923070365696/ckm9Vl1p.png">
        <h1>Esya is here!</h1><h3>A lot about esya here!</h3><img src="/img/e15.png" height="100">
      </textarea>
    </div>
  </div>
  <div id="commandLine" class="panel">
  </div>

</div>
<script>
  editor = new wysihtml5.Editor("wysihtml5-editor", {
    toolbar:     "wysihtml5-editor-toolbar",
    parserRules: wysihtml5ParserRules
  });

  editor.on("load", function() {
    var composer = editor.composer;
    composer.selection.selectNode(editor.composer.element.querySelector("h1"));
  });

  jQuery(function($, undefined) {
    $('#commandLine').terminal(function(command, term) {
      if (command !== '') {
        try {
          var result = window.eval(command);
          if (result !== undefined) {
            term.echo(new String(result));
          }
        } catch(e) {
          term.error(new String(e));
        }
      } else {
       term.echo('');
     }
   }, {
    greetings: 'Welcome to ESYA\nType ? for help',
    name: 'js_demo',
    height: 300,
    prompt: 'you@esya.iiitd.ac.in> '});
  });
</script>

