<footer class="navbar-fixed-bottom">
    <div class="container" style="padding-top:6px">
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-inline">
                    <li>
                        <a href="http://iiitd.ac.in"><i class="fa fa-building"></i></a>
                    </li>
                    <li>
                        <a href="http://esya.iiitd.edu.in/blog/"><i class="fa fa-pencil"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/EsyaIIITD"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/esya_iiitd"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/EsyaIIITD"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/rush-skills/esya2015"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6" style="text-align:right">
                <p class="text-muted" style="color:#fff"><a href="http://iiitd.ac.in">&copy; IIIT Delhi</a></p>
            </div>
            </div>
        </div>
    </div>
</footer>
