<footer class="navbar-fixed-bottom">
    <div class="container" style="padding-top:6px">
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6" style="text-align:right">
                <p class="text-muted" style="color:#fff">&copy; IIIT Delhi</p>
            </div>
            </div>
        </div>
    </div>
</footer>
