 <nav class="navbar navbar-fixed-top" style="background-color:#353535"> <!-- Give as much margin as you want to this-->
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/m" style="padding-left:0px"><img src="/img/HeaderLeft.png" height="60px" style="margin-top:-15px"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
               <li><img src="/img/HeaderRight.png" height="60px"></li>
            </ul>
        </div>
    </div>
</nav>