<section id="event" class="services bg-prime header">
  <div class="container text-vertical-center">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 style="color:white">Esya 2015</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-6 tile">
            <a href="#all_events">
              All Events
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile">
            <a href="#flagship_event">
              Flagship Events
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile">
            <a href="#cse_event">
              CSE Events
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile">
            <a href="#ece_event">
              ECE Events
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile">
            <a href="#non_tech_event">
              Non Tech Events
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile">
            <a href="#school_event" style="color:white">
              School Events
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6 tile">
            <a href="#workshop_event" style="color:white">
              Workshop Events
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="all_events" class="services bg-prime header">
  <div class="container text-vertical-center">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 style="color:white">All Events</h2>
        <hr class="small">
        <div class="row">
          <% @events.each do |event| %>
            <div class="col-md-4 col-sm-4 col-xs-6 tile">
              <%= link_to event.to_s ,event_path(event) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>