<section id="event" class="services bg-prime header">
  <div class="container-fluid event-image-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <%= image_tag @event.photo, class: "event-header-mob" if @event.photo.present?%>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 style="color:white"><%= @event.name.to_s + " | " + @event.category.to_s%></h2>
        <hr class="small">
        <div class="event-text">
          <%= @event.mob_combined.html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>