<p id="notice"><%= notice %></p>

<h1>Listing Sponsors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.name %></td>
        <td><%= sponsor.category %></td>
        <td><%= sponsor.image %></td>
      </tr>
    <% end %>
  </tbody>
</table>
